*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content{
  margin-top: 10%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.form{
  width: 80%;
  margin: auto;
}
.data{
  width: 90%;
  margin: 10px auto;
}
.form form{
  width: 100%;
  padding: 10px;
  border: 1px solid black;
}
.form form h5,.edit h5{
  text-align: center;
}
.form form input,.edit input{
  width: 80%;
  margin:10px auto;
  display: block;
  padding: 10px;
  outline-color: blue;
}
.btn{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.btn button{
  width: 40%;
  padding: 10px;
  border: none;
  color: white;
}
.reset{
  background-color: red;
  color: white;
}
.submit{
  background-color: blue;
}
.data table{
  width: 100%;
  border-collapse: collapse;
}
.data table a{
  padding: 4px;
  text-decoration: none;
  
}
.data table td{
  padding: 10px;
}
.edit{
  width: 80%;
  margin: 10% auto;
  border: 1px solid black;
  padding: 10px;
}

@media screen and (min-width:690px) {
  .form{
    width: 40%;
  }
  .data{
    width: 40%;
  }
  .edit{
    width: 60%;
  }
}